@import '../../../styles/variables/colors.scss';
@import '../../../styles/fonts.scss';

.name {
    font-weight: 700;
    color: $DarkColor;
    font-size: 14px;
    font-family: $primary-family;
}

.header {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: $primary-family;
    color: $primary-color;
    text-underline-offset: 5px;
    mark {
        padding: 0;
    }

    &.noLink {
        color: $DarkColor;
    }
}

.value {
    font-size: 14px;
    color: $DarkColor;
    font-family: $primary-family;
    mark {
        padding: 0;
    }
}

.break {
    margin-top: 5px;
}

.metadataContainer {
    display: flex;
    justify-content: space-between;
}

.metadataList {
    width: 48%;
}

.crossEntityModalButton {
    width: 100%;
    border-radius: 0 0 0.275rem 0.275rem !important;
}

.teal {
    height: 12px;
    background-color: $teal;
}

.sectionedCard > div:first-child {
    color: red;
    display: flex;
    padding: 0 !important;

    & > div {
        color: purple;
        padding: 32px 20px 24px 20px;
    }
}

.leftSection {
    align-content: center;
    border-right: 1px solid $borderColor;
}

.selectCheckbox input {
    border: 1px solid $borderColor;
    height: 1.2em;
    width: 1.2em;
    &:checked {
        background-color: $HeaderBackground;
        border-color: $HeaderBackground;
    }
}

@media (max-width: 576px) {
    .metadataContainer {
        flex-direction: column;
    }

    .metadataList {
        width: 100%;
    }
}
